@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Reset Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

nav {
  display: flex;
  width: 100vw;
  align-items: center;
}

.logo {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.logo h1 {
  font-size: 2.5rem;
  margin-left: 1rem;
}

.logo img {
  border-radius: 5px;
}

.about {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.about a {
  margin: 0 0.6rem;
}

.about a:last-child {
  margin-top: -10px;
}

.social-action-icons {
  transition: 200ms ease-out;
}

.social-action-icons:hover {
  transform: scale(1.5);
}

.moving-bar {
  text-decoration: none;
  color: black;
  position: relative;
}

.moving-bar::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 25%;
  height: 5px;
  background: black;
  transition: width 400ms ease-in-out;
  transform-origin: 50% 50%;
}

.moving-bar:hover::after {
  width: 100%;
}

footer {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

footer svg {
  animation: beat 500ms ease-in-out infinite alternate;
  margin-left: 5px;
}

footer a {
  margin-left: 5px;
}

@keyframes beat {
  from {
    transform: scale(0.8);
  }
}

main {
  width: 90vw;
  max-width: 780px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.editor {
  min-height: 400px;
  line-height: 1.25rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  outline: none;
  caret-color: currentColor;
  position: relative;
}

.editor::after {
  content: attr(data-count);
  position: absolute;
  bottom: 2px;
  left: 50%;
  opacity: 0.6;
  font-family: monospace;
  font-size: 12px;
  transform: translateX(-50%);
}

.editor.pdf::after {
  display: none;
}

.editor a {
  color: teal;
  text-decoration: none;
  cursor: pointer;
  border-bottom: solid 2px teal;
  border-bottom-style: dotted;
  position: relative;
}

.editor a::after {
  content: attr(href);
  position: absolute;
  z-index: 3;
  color: white;
  background: rgba(59, 72, 84, 1);
  opacity: 0;
  border-radius: 1rem;
  padding: 5px 10px;
  top: 1.5rem;
  left: 50%;
  font-size: 0.8rem;
  pointer-events: none;
}

.editor a:hover::after {
  opacity: 1;
  transition: opacity 100ms ease-in-out;
  transition-delay: 1000ms;
}

.editor img::after {
  content: attr(src);
  position: absolute;
  z-index: 3;
  color: white;
  background: rgba(59, 72, 84, 1);
  opacity: 0;
  border-radius: 1rem;
  padding: 5px 10px;
  top: 1.5rem;
  left: 50%;
  font-size: 0.8rem;
  pointer-events: none;
}

.editor img:hover::after {
  opacity: 1;
  transition: opacity 100ms ease-in-out;
  transition-delay: 1000ms;
}

.toolbar {
  padding: 0.5rem;
  padding-bottom: 0px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
}

.toolbar-btn {
  border: none;
  padding: 0.2rem 0.1rem;
  background: white;
  cursor: pointer;
  margin: 5px;
  position: relative;
}

.toolbar-btn::after {
  content: attr(data-help);
  position: absolute;
  z-index: 1;
  width: 100px;
  color: white;
  background: rgba(59, 72, 84, 1);
  opacity: 0;
  border-radius: 3px;
  padding: 5px 0;
  bottom: -24px;
  left: 0%;
  pointer-events: none;
}

.toolbar-btn:hover::after {
  opacity: 1;
  transition: opacity 100ms ease-in-out;
  transition-delay: 1000ms;
}

.toolbar-btn:hover svg,
.toolbar-btn.active svg {
  color: black;
  transform: scale(1.2);
  transition: transform 100ms ease-in-out;
}

.toolbar svg {
  width: 1rem;
  height: 1rem;
  color: rgba(128, 128, 128, 0.6);
  pointer-events: none;
}

.url-form,
.image-form {
  display: flex;
  position: absolute;
  top: -2rem;
  left: 50%;
}

.url-form input[type='text'],
.image-form input[type='text'] {
  height: 100%;
  padding-left: 5px;
  height: 32px;
  border-color: rgba(59, 72, 84, 0.9);
  border-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.url-form input[type='submit'],
.image-form input[type='submit'] {
  height: 32px;
  padding: 0 5px;
  color: white;
  background: rgba(59, 72, 84, 0.9);
  cursor: pointer;
  margin-left: -1px;

  border-color: rgba(59, 72, 84, 0.9);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.color-form,
.highlight-color-form {
  position: absolute;
  bottom: 100%;
  width: 152px;
  flex-wrap: wrap;
  display: flex;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

.highlight-color-form {
  width: 122px;
}

.color-choice {
  width: 30px;
  height: 30px;
}

.color-choice:hover {
  border: solid 1px black;
}

.heading-form {
  position: absolute;
  top: 0.2rem;
  z-index: 2;
  left: 1.5rem;
}

.heading-choice {
  width: 125px;
  background: white;
  border: solid 1px gray;
  border-bottom: none;
  padding: 5px 0px;
}

.heading-choice:hover {
  background: lightgray;
}

.heading-choice:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.heading-choice:last-child {
  border: solid 1px gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Element Specific Styles */
.editor pre {
  background: rgba(30, 30, 30, 1);
  color: white;
  padding: 0.5rem;
  margin: 5px 0rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: 'Courier New', Courier, monospace;
}

.toolbar select {
  background: white;
  padding: 2px 5px;
  width: 140px;
  height: 24px;
  border: solid 1px rgba(59, 72, 84, 0.5);
  margin: 4px 5px 0px;
}

.editor-img-container {
  display: inline-block;
  resize: both;
  overflow: hidden;
  cursor: pointer;
}

.editor-img-container img {
  border-radius: 5px;
  border: solid 1px lightgray;
}

.help-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-block {
  padding: 2rem;
  width: 90vw;
  max-width: 800px;
  z-index: 1;
  background: white;
  border: solid 1px gray;
  border-radius: 10px;
  font-size: 14px;
  text-align: left;
}

.help-block h2 {
  margin: 1rem;
  margin-left: 0rem;
  text-decoration: underline;
}
.help-block section {
  margin-bottom: 1.5rem;
}
.help-block li {
  margin: 0.25rem 0rem;
  list-style-type: none;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .logo h1 {
    display: none;
  }
}

/* Print Styles */
@media print {
  header,
  .editor::after {
    display: none;
  }

  main {
    border: none;
    height: 100%;
  }

  main .toolbar {
    opacity: 0;
  }
}

/* Fullscreen Styles */
.fullscreen:fullscreen {
  background: white;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.fullscreen:fullscreen main {
  width: 80vw;
}

.fullscreen:fullscreen .editor {
  min-height: 80vh;
}

.fullscreen:fullscreen .editor::after {
  bottom: 1rem;
}

.hide {
  display: none;
}
