@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Reset Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body,
html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

header,
footer {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

footer svg {
  animation: beat 500ms ease-in-out infinite alternate;
}

@keyframes beat {
  from {
    transform: scale(0.8);
  }
  to {
    tramsform: scale(1.25);
  }
}

body header span {
  display: inline-block;
  font-size: 6rem;
  position: relative;
  animation: condense 2000ms ease-in-out forwards;
}

/* @keyframes condense {
  from {
    margin: 1.5rem 0.5rem;
  }
  to {
    margin: 1.5rem -0.1rem;
  }
} */

/* body header span::after {
  content: attr(data-fullform);
  font-size: 1rem;
  color: #41484f;
  letter-spacing: normal;
  position: absolute;
  bottom: 20px;
  right: -1rem;
} */

.editor {
  width: 80vw;
  height: 50vh;
  padding: 1.25rem;

  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid lightgray;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  overflow-y: scroll;
  outline: none;
}

.toolbar {
  width: 80vw;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.toolbar-btn {
  display: inline-block;
  border: none;
  padding: 0.1rem 0.2rem;
  background: white;
  cursor: pointer;
  margin: 0 5px;
  position: relative;
}

.toolbar-btn::after {
  content: attr(data-help);
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  z-index: 1;
  width: 100px;
  display: block;
  color: white;
  background: rgba(59, 72, 84, 1);
  opacity: 0;
  border-radius: 5px;
  padding: 5px 0;
  bottom: -24px;
  left: 50%;
  pointer-events: none;
}

.toolbar-btn:hover::after {
  opacity: 1;
  transition: opacity 100ms ease-in-out;
  transition-delay: 1000ms;
}

.toolbar-btn:hover svg,
.toolbar-btn.active svg {
  color: black;
  transform: scale(1.1);
  transition: transform 100ms ease-in-out;
}

svg {
  width: 1rem;
  height: 1rem;

  color: rgba(128, 128, 128, 0.6);
  pointer-events: none;
}

.url-form,
.image-form {
  display: flex;
  position: absolute;
  top: -2rem;
  left: 50%;
  z-index: 1;
}

.url-form input[type='text'],
.image-form input[type='text'] {
  height: 100%;
  padding-left: 5px;
  height: 32px;
  border-color: rgba(59, 72, 84, 0.9);
  border-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.url-form input[type='submit'],
.image-form input[type='submit'] {
  height: 32px;
  padding: 0 5px;
  color: white;
  background: rgba(59, 72, 84, 0.9);
  cursor: pointer;
  margin-left: -1px;

  border-color: rgba(59, 72, 84, 0.9);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.editor a.active::after {
  content: 'a';
  top: 0;
  left: 0;
}

.color-form,
.highlight-color-form {
  position: absolute;
  top: -70px;
  left: 0px;
  padding: 2px;
  width: 100px;
  flex-wrap: wrap;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  border: solid 1px lightgray;
  border-radius: 5px;
}

.color-choice {
  display: inline-block;
  width: 20px;
  margin: 5px 0px;
  height: 20px;
  border-radius: 50%;
  opacity: 1;
}

.highlight-color-form {
  top: -35px;
  width: 120px;
}

.heading-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 100%;
  z-index: 2;
}

.heading-choice {
  width: 125px;
  background: white;
  border: solid 1px black;
  padding: 5px 0px;
  z-index: 2;
}

.hide {
  display: none;
}

/* Element Specific Styles */
pre {
  background: rgba(30, 30, 30, 1);
  color: white;
  padding: 1rem;
  margin: 5px 0rem;
  border-radius: 5px;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: scroll;
}
